@media (max-width: 1307px){
.summary-div{
    padding: 70px 30px 20px 70px;
}

.header-div{
    padding: 20px 50px 20px 80px;
}
}

@media (max-width: 1290px){
    .overview-container-items.box-1, .overview-container-items.box-2{
        padding: 33.5px 35px;
    }

    .welcome-message{
        font-size: 40px;
    }

    .user-name{
        font-size: 56px;
    }
}

@media (max-width: 1190px) {
    .overview-container-items{
        padding: 16px 20px;
    }

        .overview-container-items img{
        width: 55px;
    }

    .overview-container-items.box-1, .overview-container-items.box-2{
        padding: 33.5px 20px;
    }

    .summary-div{
        padding: 70px 30px 20px 60px;
    }

    .summary-overview-boxes span{
            font-size: 60px;

    }
}

@media (max-width: 1090px) {
    .summary-div{
        padding: 50px 35px 20px 50px;
    }
    
 /* header */
    .header-div{
        padding: 20px 60px;;
    }

    .welcome-message{
        font-size: 37px;
    }

    .user-name{
        font-size: 50px;
    }

    .summary-main-board{
        gap: 49px;
    }
}

@media (max-width: 1023px) {


    /* Welcome-Mobile Div */
    .anima-welcom-page {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .welcome-animation {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        animation: fadeIn 2s ease-in;
  }

  .welcomeMsg {
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 15px;
  }

  .signedUser {
        font-size: 48px;
        text-transform: capitalize;
        font-weight: 700;
        color: rgba(18, 70, 88, 1);
  }


    /* Welcome-Mobile Div */

    .welcome-user{
        display: none !important;
    }

    .summary-div{
        padding: 20px 15px 20px 15px;
    }

    .header-div{
        padding: 20px 15px;
    }


    .summary-div{
        gap: 40px;
    }

    .summary-title{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .seperator{
        height: 3px;
        width: 90px;
        order: 2;
    }

    .summary-main-board{
        justify-content: center;
    }

    .overview-container-items.box-1, .overview-container-items.box-2{
    max-height: 110px;
}

.overview-container-items.box-3{
    height: 110px;
}

.overview-container-items.box-4, .overview-container-items.box-5, .overview-container-items.box-6{
    max-height: 116px;
}

}

@media (max-width: 864px){
    /* Welcome-Mobile Div */

    .main-title{
        font-size: 47px;

    }

    .second-title{
        font-size: 20px;
    }

    .overview-container-items.box-1:hover,
     .overview-container-items.box-2:hover{
        transform: scale(1.05);
     }
    
    .overview-container-items.box-3:hover{
        transform: scale(1.02);
    }

    .overview-container-items.box-4:hover,
     .overview-container-items.box-5:hover,
      .overview-container-items.box-6:hover{
        transform: scale(1.05);
      }

    .summary-overview-boxes h4 {
        font-size: 16px;
    }

    .summary-overview-boxes h5 {
        font-size: 16px;
    }
}

@media (max-width: 470px){
    .overview-container-items{
        padding: 16px 16px;
    }

    .main-title{
        font-size: 45px;
    }
    
    .second-title{
        font-size: 18px;
    }

    .summary-overview-boxes{
        gap: 15px;
    }

    .summary-div{
        gap: 35px;
    }
}

@media (max-width: 429px){
    
    .overview-container-items.box-1, .overview-container-items.box-2{
        padding: 38px 19px;
    
    }

        .overview-container-items{
            padding: 16px 5px;
            gap: 15px;
        }

        .overview-container-items img{
            width: 40px;
        }

        .summary-overview-boxes h4{
            font-size: 16px;
        }

        .task-number{
            height: 75px;
        }

        .summary-overview-boxes span{
            font-size: 47px;
        }

        .main-title{
            font-size: 36px;
        }

        .summary-title{
            gap: 5px;
        }

        .summary-div{
            padding: 20px 10px 20px 10px;
        }

        .welcomeMsg{
            font-size: 36px;
        }

        .signedUser{
            font-size: 47px;
        }

}

@media (max-width: 400px){
    .welcomeMsg{
        font-size: 35px;
    }

    .signedUser{
        font-size: 38px;
    }

    .overview-container-items.box-3{
        gap: 0px;
    }
}