@media (max-width: 1092px) {

main{
    padding: 45px 50px 0px 75px;
}
}

@media (max-width: 864px){
    /* Welcome-Mobile Div */
    .anima-welcom-page {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .welcome-animation {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        animation: fadeIn 2s ease-in;
  }

  .welcomeMsg {
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 15px;
  }

  .signedUser {
        font-size: 48px;
        text-transform: capitalize;
        font-weight: 700;
        color: rgba(41, 171, 226, 1);
  }


    /* Welcome-Mobile Div */

    .welcome-user{
        display: none !important;
    }

    main{
        padding: 20px 15px 35px 15px;
    }

    .header-div{
        padding: 20px 15px;
    }

    .main-title{
        font-size: 47px;

    }

    .second-title{
        font-size: 20px;
    }

    .summary-div{
        gap: 40px;
    }

    .summary-title{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .seperator{
        height: 3px;
        width: 90px;
        order: 2;
    }

    .overview-container-items.box-1:hover,
     .overview-container-items.box-2:hover{
        transform: scale(1.05);
     }
    
    .overview-container-items.box-3:hover{
        transform: scale(1.02);
    }

    .overview-container-items.box-4:hover,
     .overview-container-items.box-5:hover,
      .overview-container-items.box-6:hover{
        transform: scale(1.05);
      }

    .summary-overview-boxes h4 {
        font-size: 16px;
    }

    .summary-overview-boxes h5 {
        font-size: 16px;
    }
}

@media (max-width: 470px){
    .overview-container-items{
        padding: 16px 16px;
    }

    .main-title{
        font-size: 45px;
    }
    
    .second-title{
        font-size: 18px;
    }
}