
.d_none{
    display: none !important;
}

body{
    background-color: #f6f7f8;
}

.body-div{
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
}

/*sidebar class area*/

.sidebar-wraper{
    display: flex;
    width: 100%;
}


.sidebar{
background: #2A3647;
width: 230px;
display: flex;
flex-direction: column;
}


.sidebar-logo-div{
    display: flex;
    padding: 64px;
}

.links-and-footer-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.sidebar-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-links a{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 60px;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;

}

.sidebar-links a:hover{
background-color: #2a3d59;
}

.current-link{
    background-color:#091931;
}


.a-containers{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.a-containers a {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}

footer a{
    padding: 8px 60px;
    width: 100%;
}

footer a:hover{
    opacity: 0.8;
    color: #29abe2;
    transform: scale(1.1)
}

/*header css*/
/*-------------*/

.header-and-content-div{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-div{
    height: 96px;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    /* z-index: 1;
    position: sticky;
    top: 0; */ /*Für später vllt*/
    background-color: #fff;

}

.header-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    position: relative; 
}

.header-title{
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.header-img{
    display: none;
}

.header-img img{
 width: 40px;
 height: 47px;
}

.user-header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.help:hover{
    transform: scale(1.2);
}

.user-icon{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 60%;
}

.user-icon:hover{
    cursor: pointer;
}

.header-button{
    width: 100%;
    height: 100%;
    border-radius: 60%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: #29abe2;
    background-color: transparent;
}

.header-button:hover{
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.69);
}

.dropdown-menu{
    position: absolute;
    right: 0;
    top: 230px;
    transform: translateY(-100%);
    background-color: #2A3647;
    width: 160px;
    border-radius: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    /* z-index: 1001; */ /*für später vllt*/
}

.dropdown-menu a{
    font-weight: 400;
    font-size: 16px;
    color: #cdcdcd;
    padding: 8px 16px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1001; *//*Später vllt nötig*/
}

.dropdown-menu a:hover {
    background-color: #2a3d59;
    border-radius: 12px;
}


/* Main Container */
/* ----------------------- */

main{
    width: 100%;
    padding: 80px 50px 50px 80px;
    display: flex;
    flex-direction: column;
    max-width: 1440px;

}

.summary-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.summary-title{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}


.main-title{
    font-size: 60px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
}

.seperator{
    width: 3px;
    height: 100%;
    background-color: rgba(41, 171, 226, 1);
}

.second-title{
    font-size: 24px;
    color: #2A3647;
    font-weight: 400
}

.summary-main-board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.summary-overview{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex: 1.5;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.summary-overview-boxes{
    height: 160px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.summary-overview-boxes span{
    font-size: 42px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

.summary-overview-boxes h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
}

.summary-overview-boxes h5 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
}

.overview-container-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 30px;
    padding: 16px 32px;
    gap: 24px;
    flex: 1;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.overview-container-items img {
    width: 50px;
    height: 50px;
}

.task-number{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.left-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.urgent-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

/* .urgent-img{

} */

.box-seprator{
    width: 2px;
    background-color: rgb(209, 209, 209);
    height: 80px;
}

.right-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.contain-4, .contain-5, .contain-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.welcome-user{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 0%;
}

.welcome-message{
    font-size: 34px;
    font-weight: 500;
    color: rgba(42, 54, 71, 1);
}

.user-name{
    color: #29abe2;
    font-weight: 700;
    font-size: 42px;
}

.overview-container-items.box-1:hover, .overview-container-items.box-2:hover{
    transform: scale(1.1);
    background-color: #2A3647;
    box-shadow: rgba(0, 0,0, 0.25) 0px 4px 4px 0px;
    .task-number span,
  .task-number .tasks-text {
    color: rgba(255, 255, 255, 1);
  }
}


.overview-container-items.box-1:hover img{
    content: url(./assets/img/summary-edit-hovered.svg);
}

.overview-container-items.box-2:hover img{
    content: url(./assets/img/summary-done-hovered.svg);
}


.overview-container-items.box-3:hover{
    transform: scale(1.08);
    background-color: #2A3647 ;
    box-shadow: 0 4px 4px 0 #00000040;

.left-box .urgent-task span,
  .left-box .urgent-task .tasks-text,
  .right-box h4,
  .right-box h5 {
    color: rgba(255, 255, 255, 1);
  }
}

.overview-container-items.box-4:hover, 
.overview-container-items.box-5:hover, 
.overview-container-items.box-6:hover{
    transform: scale(1.1);
    background-color: #2A3647;
    box-shadow: rgba(0, 0,0, 0.25) 0px 4px 4px 0px;
    
}

.overview-container-items.box-4:hover span,
.overview-container-items.box-5:hover span,
.overview-container-items.box-6:hover span,
.overview-container-items.box-4:hover .tasks-text,
.overview-container-items.box-5:hover .tasks-text,
.overview-container-items.box-6:hover .tasks-text {
  color: rgba(255, 255, 255, 1);
} 


.task-number,
.urgent-task,
.overview-container-items.box-4,
.overview-container-items.box-5,
.overview-container-items.box-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

