.body-div{
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
}

/*sidebar class area*/

.sidebar-wraper{
    display: flex;
    width: 100%;
}


.sidebar{
background: #2A3647;
width: 230px;
display: flex;
flex-direction: column;
}


.sidebar-logo-div{
    display: flex;
    padding: 64px;
}

.links-and-footer-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.sidebar-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-links a{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 60px;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;

}

.sidebar-links a:hover{
background-color: #2a3d59;
}

.current-link{
    background-color:#091931;
}


.a-containers{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.a-containers a {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}

footer a{
    padding: 8px 60px;
    width: 100%;
}

footer a:hover{
    opacity: 0.8;
    color: #29abe2;
    transform: scale(1.1)
}

/*header css*/
/*-------------*/

.header-and-content-div{
    flex: 1;
    background-color:aquamarine ;
}

.header-div{
    height: 96px;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    /* z-index: 1;
    position: sticky;
    top: 0; */ /*Für später vllt*/
    background-color: #fff;

}

.header-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    position: relative; 
}

.header-title{
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.user-header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.help:hover{
    transform: scale(1.2);
}

.user-icon{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 60%;
}

.user-icon:hover{
    cursor: pointer;
}

.header-button{
    width: 100%;
    height: 100%;
    border-radius: 60%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: #29abe2;
    background-color: transparent;
}

.header-button:hover{
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.69);
}

.dropdown-menu{
    position: absolute;
    right: 0;
    top: 230px;
    transform: translateY(-100%);
    background-color: #2A3647;
    width: 160px;
    border-radius: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    /* z-index: 1001; */ /*für später vllt*/
}

.dropdown-menu a{
    font-weight: 400;
    font-size: 16px;
    color: #cdcdcd;
    padding: 8px 16px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1001; *//*Später vllt nötig*/
}

.dropdown-menu a:hover {
    background-color: #2a3d59;
    border-radius: 12px;
}






